@import './gg.css';

th {
  text-align: center !important;
}

th > span {
  margin: 10rem 0 !important;
}

.gridListItems {
  display: grid;
  gap: .5rem;
  overflow: hidden;
  margin: .5rem;
}

.total-selected {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.tabs li.is-active a {
  color: #3e8ed0 !important;
  border-bottom-color: #3e8ed0 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}